/* Active tab neon */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.sizing-fit.active {
  background-image: linear-gradient(to bottom, #28f1fc25, #fc28a825);
  position: sticky;
}

/* Active tab stripe */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.sizing-fit.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, #e62498ee, #00d4b1) !important;
  opacity: 1;
  z-index: 6;
}
